@model BusinessLogicLayer.Services.Book

<h2 class="mb-4">Book Details</h2>

<div class="card mb-4">
    <div class="card-body d-flex gap-4 pb-2">
        <img src="@Model.ImageUrl" alt="@Model.Title" style="max-width: 75px; max-height: 75px;" />
        <div>
            <h4 class="card-title">@Model.Title</h4>
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
</div>

<h5 class="mb-3">Chapters</h5>
@foreach (var chapter in Model.Chapters) {
    <div class="card mb-3">
        <div class="card-header">
            <h6 class="my-2">@chapter.Title</h6>
        </div>
        <div class="card-body">
            <p>@chapter.Content</p>
        </div>
    </div>
}

<div class="d-flex gap-2 mt-4">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>