@model IEnumerable<DataAccessLayer.Entities.User>

<h2>Manage Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>User Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model) {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>
                    <a asp-action="Details" asp-controller="Admin" asp-route-id="@user.Id" class="btn btn-primary">Details</a>
                    <a asp-action="Edit" asp-controller="Admin" asp-route-id="@user.Id" class="btn btn-info">Edit</a>
                    <a asp-action="Delete" asp-controller="Admin" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" asp-controller="Admin" class="btn btn-primary">Create</a>